/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

.left-panel, .right-panel {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 10px;
}

.left-panel {
    flex: 1;
    max-width: 350px;
}

.right-panel {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#status {
    font-size: 16px;
    color: #888;
}

ul {
    list-style-type: none;
}

ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.latest-image {
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
